@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienbenidos a este mini core de hamburguesas</h1>
    <img src="https://www.eluniverso.com/resizer/_pUYRd9oHnC5NsgkHiq8zKmUT6s=/arc-anglerfish-arc2-prod-eluniverso/public/XLSSFDYZ6NF55KML256IZQ5HYM.jpg" 
    width="700"/>
</div>
